body {
    background-color: #1a1a2e; /* Azul escuro profundo */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 15px;
    padding-top: 10px;
    overflow: hidden;
}



.container {
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 150%;
    max-width: 900px;
    font-size: 15px;
    height: auto;
    min-height: 300px;
    max-height: 90vh;
    overflow: hidden;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="password"], select, textarea {
    font-family: Courier New, monospace;
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 20px;
}
.checkbox-group, .radio-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    font-size: 15px;
}
textarea {
    height: 100px;
    resize: none;
}
.button-group {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
button {
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
}
button:hover {
    opacity: 0.8;
} 

#confirmar{
    background-color: green;
}
