body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('193922073-o-conceito-de-reparação-do-motor-reparação-do-carro-imagem-de-chaves-e-um-cilindro-em-um-fundo.jpg');
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    animation: gradientBG 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 15px;
    padding-top: 10px;
    overflow: hidden;
}



.container {
    background: linear-gradient(270deg, #edcaff, #7233ad, #af92bd, hsla(264, 61%, 38%, 0.753));
    background-size: 400% 400%;
    padding: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 150%;
    max-width: 900px;
    font-size: 15px;
    height: auto;
    min-height: 300px;
    max-height: 90vh;
    overflow: hidden;
}


@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

label {
    /* font-weight: bold; */
    display: block;
    margin-bottom: 8px;
}
input[type="text"], input[type="password"], select, textarea {
    font-family: Courier New, monospace;
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 20px;
}
.checkbox-group, .radio-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    font-size: 1px;
}
textarea {
    height: 100px;
    resize: none;
}
.button-group {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
button {
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
}
button:hover {
    opacity: 0.8;
} 

#confirmar{
    background-color: green;
}
